.header {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100vw - 250px);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    background-color: white;
    /* margin-bottom: 20px; */
}

.search-bar {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 300px;
    position: relative;
    left: 20px;
}


.srchbtn span{
    font-size: large;
}

.user-info {
    display: flex;
    align-items: center;
    position: relative;
    right: 2rem;
}

.user-name {
    margin-right: 10px;
}



/* For Tablets (Portrait) and Small Desktops */
/* @media (max-width: 1024px) {
    .header {
        left: 200px;
        width: calc(100vw - 200px); 
    }

    .search-bar {
        width: 250px; 
    }
} */


/* @media (max-width: 768px) {
    .header {
        left: 150px;
        width: calc(100vw - 150px); 
    }

    .search-bar {
        width: 200px; 
    }

    .user-info {
        position: absolute;
        right: 20px;
    }
} */

/* For Mobile Devices */
/* @media (max-width: 576px) {
    .header {
        left: 0; 
        width: 100%;
        padding: 0 10px; 
    }

    .search-bar {
        width: 150px;
        padding: 5px; 
    }

    .user-info {
        display: none; 
    }

    
} */
